@tailwind components;

@layer components {

  @font-face {
    font-family: "NeueKabelW01-Regular";
    src: url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.eot");
    src:
      url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.eot?#iefix") format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.woff2") format("woff2"),
      url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.woff") format("woff"),
      url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.ttf") format("truetype"),
      url("https://db.onlinewebfonts.com/t/02408ccd8efcf169db4e41d6e0551118.svg#NeueKabelW01-Regular") format("svg");
  }

  .button {
    @apply rounded-tl-lg rounded-tr-lg 
    px-4 py-2 cursor-pointer hover:shadow-lg 
    active:scale-95 active:bg-gray-100 
    transform duration-100 ease-out;
  }

  .button-plain {
    @apply rounded-tl-lg rounded-tr-lg 
    px-4 py-2;
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }

  .dataItem {
    margin-bottom: 10px;
  }

  /* .dataItem:not(:last-child) {
    margin-bottom: 10px;
  } */

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
  }
  
  .paginationItem {
    background: #fff;
    border: 0px solid #666;
    padding: 10px 15px;
    border-radius: 12%;
    height: 45px;
    width: 45px;
    position: relative;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    color: blue;
    transition: transform .2s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  }

  .paginationItem:hover {
    transform: scale(1.04);
    color: rgb(0,150,0);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }
  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prev {
    background: #fff;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    margin: 0 2px;
    cursor: pointer;
    border-radius: 25px 0 0 25px;
    transition: transform .2s;
  }

  .prev:hover,
  .next:hover {
    transform: scale(1.04);
    color: rgb(0,150,0);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }

  .next {
    background: #fff;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    margin: 0 2px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    transition: transform .2s;
  }
  
  .paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }
}

